:root {
  --bg: whitesmoke;
  --strong-border: black;
  --weak-border: grey;
  --initial-cell: #ddd;
  --selected: orange;
}

body {
  background-color: var(--bg);
}

.board {
  border: 3px solid var(--strong-border);
}

.initial {
  background-color: var(--initial-cell);
}

.clickable {
  cursor: pointer;
}

.no-padding {
  padding: 0 !important;
}

.strong-border-left {
  border-left: 3px solid var(--strong-border);
}

.strong-border-right {
  border-right: 3px solid var(--strong-border);
}

.strong-border-top {
  border-top: 3px solid var(--strong-border);
}

.weak-border {
  border: 2px solid var(--weak-border);
}

.center {
  text-align: center;
}

.selected {
  background-color: var(--selected);
}